.thisyear-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  min-height: 100vh;
}

/* //////////////////////////////////////////////////////////////////// */

.months {
  margin-top: 40px;
  width: 100%;
  height: max-content;
}

.month {
  display: grid;
  grid-template-columns: max-content 1fr;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0 auto;
}

.month-name {
  width: 50px;
  font-size: 13px;
  margin: auto auto;
  padding-left: 18px;
}

/* //////////////////////////////////////////////////////////////////// */
.wrapper {
  height: max-content;
  font-size: 13px;
  font-family: "Inter";
  display: flex;
  width: max-content;
}

.wrapper__item {
  display: flex;
  padding: 4px;
  flex-direction: row;
}

.mmm {
  margin-right: 4px;
}

.line {
  margin: 0 2px;
  text-decoration: line-through;
}

.thisyearstatistic-container {
  font-family: "Inter";
  display: grid;
  border-top: 2px solid silver;
  grid-template-columns: 120px 1fr;
}

.thisyear-statistic {
  /* border-left: 1px solid silver; */
  border-left: 1px solid silver;
}

.thisyear-statistic__item {
  padding: 8px;
  border-bottom: 1px solid silver;
}

.thisyear-name {
  font-weight: 800;
  margin-top: 12px;
  text-align: center;
}

.thisyear-statistic__facts {
  /* border: 2px solid green; */
  display: grid;
  height: 100px;
  grid-template-rows: 3fr 1fr;
}

.thisyear-statistic__fact__text {
  /* border: 2px solid orange; */
  margin: auto auto;
  font-size: 21px;
}

.arrow-icon {
  margin: auto auto;
}

.arrow-icon:hover {
  cursor: pointer;
}
